<nav class="navbar navbar-light navbar-dark-theme">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/images/supercharge-logo.svg" width="30" height="30" alt="">
        <span class="navbar-title">MEMORY GAME</span>
    </a>
    <nav class="navbar navbar-light gameControl">
        <span class="navbar-text">
            Deck size: {{deckSize.length}}
        </span>
    </nav>
</nav>

<div class="center-center" *ngIf="!showGameBoard">
    <div class="row">
        <div class="col">
            <h1 class="display-4 welcometext">SUPERCHARGE</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="lead">MEMORY GAME</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <p>Deck size</p>
            <select class="form-control dock-select" [(ngModel)]="decknumber">
              <option *ngFor="let dock of deckSize" [value]="dock">{{dock}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <button type="button" class="btn btn-outline-danger" (click)="StartGame()">START NEW GAME</button>
        </div>
    </div>
</div>

<div class="container" *ngIf="showGameBoard">
    <div class="d-flex justify-content-between p-4">
        <div class="tries">Current tries: {{currentTries}}</div>
        <div class="best">9</div>
        <div class="restart">
            <button type="button" class="btn btn-outline-secondary">Restart</button>
        </div>
    </div>
    <div class="d-flex flex-wrap flex-row justify-content-center align-items-center mt-5">
        <app-card #cardVar [cardObject]="card" (eventClick)="Flip($event)" *ngFor="let card of cardCollection"></app-card>
    </div>
</div>